body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
 }
 
 
 .overlay{
     position: absolute;
     height: 30vw;
     width: 30vw;
     background: url(overlay.png);
     background-size: contain; 
     background-repeat: no-repeat;
     top: 2vw;
     left: 65vw;
 }
 
 
 .other-logo{
     position: absolute;
     height: 12vw;
     width: 25vw;
     background: url(qvc.png);
     background-size: contain; 
     background-repeat: no-repeat;
     top: 55vw;
     left: 5vw;
 }